*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.video{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: black;
    position: relative;
    display: none;
}
.frameCss{
    width: 70%;
    height: 90vh;
    padding-top: 70px;
    margin: 0 auto;
}
.frameCss iframe{
    width: 100%;
    height: 100%;
}
.close{
    width: 100px;
    height: 70px;
    color: white;
    background: none;
    position: absolute;
    right: 80px;

}